body {
background-color: #fff; 
position:bottom;
background-size:cover; 
min-height:400px;
margin-top:-2%;
}
.jumbotron {
position:bottom;
background-size:cover; 
min-height:400px;
margin-top:-2%;
}
.cta {
background-color:#222;
padding: 2% 0 2% 0; 
margin-top:-2.3%;
border-top:4px solid red;
}
#intro {
width:70%;
margin:0 auto;
font-size:23px;
margin-top:5%;
}
.jumbotron .h1, .jumbotron h1 {
color:#fff;
font-size:90px;
font-weight:700;
}
.jumbotron p {
font-size:30px;
font-weight:300;
color:#fff;
}
.row {
margin:5% 0 5% 0;
}
.modal-content {
padding:3%;
}