body {

}
.jumbotron {
background-image: url("images/weights.jpg");
position:bottom;
background-size:cover; 
min-height:400px;
margin-top:-2%;
}
.cta {
background-color:cornflowerblue;
padding: 2% 0 2% 0; 
}
#intro {
width:70%;
margin:0 auto;
}
.jumbotron .h1, .jumbotron h1 {
color:#fff;
font-size:90px;
font-weight:700;
}
.jumbotron p {
font-size:30px;
font-weight:300;
color:#fff;
}
.row {
margin:5% 0 5% 0;
}
